.preloader-wrapper {
    background: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.preloader-wrapper .wrapper-cell {
    display: flex;
    margin-bottom: 20px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
}
// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}
.preloader-wrapper .image {
    height: 60px;
    width: 60px;
    @extend .animated-background;
}
.preloader-wrapper .text {
    margin-left: 20px
}
.text-line {
    height: 10px;
    width: 230px;
    margin: 4px 0;
    @extend .animated-background;
}

